In [ ]:
import numpy as np

ori_sim_mat_pth = "./sim_mat/sim_mat.npy"
ori_sim_mat = np.load(ori_sim_mat_pth)

:

In [3]:
ori_sim_mat.shape

(184, 184)

In [6]:
import torch
import os
import json
sim_mat = torch.load('./sim_mat/rescore_sim_mat_soup_wmeg.pth', map_location=torch.device('cpu'))

submit_dict = dict()

# load the info of the sim_mat 
test_tracks = json.load(open("./data/test_tracks.json"))
test_track_ids = list(test_tracks.keys())

test_querries = json.load(open("./data/test_queries.json"))
test_query_ids = list(test_querries.keys())

rank_res = (-sim_mat).argsort()  # query_ids x track_ids
rank_res = rank_res.astype(int)
for i,query_id in enumerate(test_query_ids):
    submit_dict[query_id] = list(np.array(test_track_ids)[rank_res[i,:]])

with open(os.path.join("./results","submit.json"),'w') as f:
    json.dump(submit_dict,f)

In [4]:
import pandas as pd

color_data = pd.read_csv("./data/col_test_one_hot.csv")
type_data = pd.read_csv("./data/veh_test_one_hot.csv")

# SRL Extraction

color_data

In [5]:
color_data

,query_id,labels,colors
0,1ed5b63a-0840-4fc3-8150-dd73b9b809ce,"[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]",['blue']
1,cd3b03ca-9d3a-4a4f-8134-5a9d8e1a5ce8,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",['gray']
2,67d3ea2a-fd95-4799-9047-cd0402bd8c02,"[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]",['blue']
3,77cfb8aa-462f-42bd-b9d7-48e13c00dbcb,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]",['green']
4,22aa35fd-4b94-4b13-b509-ac65f0f1d733,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0]",['red']
...,...,...,...
179,8decea14-00ca-4424-ad4b-db6a1d37edbc,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",['gray']
180,1c9a2517-2793-4227-a544-5c92982f4b9e,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",['gray']
181,f8340c3e-fdc2-4ee8-901d-dae082e8385a,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]",['black']
182,590d29c3-52f5-48eb-92a8-68f716c71023,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0]",['red']
183,8a3e5ff7-a4c2-41ff-8824-b4604eaf7623,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0]",['white']

In [6]:
type_data

,query_id,queries,vehicles,labels
0,1ed5b63a-0840-4fc3-8150-dd73b9b809ce,A blue pickup truck keeps straight at an inter...,['pickup'],"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0]"
1,cd3b03ca-9d3a-4a4f-8134-5a9d8e1a5ce8,A large dark gray pickup crosses an intersecti...,['pickup'],"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0]"
2,67d3ea2a-fd95-4799-9047-cd0402bd8c02,A blue sedan drives through an intersection.\n...,['sedan'],"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
3,77cfb8aa-462f-42bd-b9d7-48e13c00dbcb,A big green cargo truck drives down an interse...,['bus-truck'],"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0]"
4,22aa35fd-4b94-4b13-b509-ac65f0f1d733,A red sedan switches lane to left and passes a...,['sedan'],"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
...,...,...,...,...
178,8decea14-00ca-4424-ad4b-db6a1d37edbc,A grey car turn left and crosses a double yell...,['sedan'],"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
179,1c9a2517-2793-4227-a544-5c92982f4b9e,A grey cross-over changes its lane and is read...,['suv'],"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0]"
180,f8340c3e-fdc2-4ee8-901d-dae082e8385a,Black pickup truck keeps straight and catches ...,['pickup'],"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0]"
181,590d29c3-52f5-48eb-92a8-68f716c71023,A red SUV stops at an intersection.\nMaroon SU...,['suv'],"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0]"
182,8a3e5ff7-a4c2-41ff-8824-b4604eaf7623,White pick up truck goes straight followed by ...,['pickup'],"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0]"